//-li(class="nav-item")
  a(class='nav-link',href='#') 個人檔案
    span(class='badge badge-warning') !
//-li(class="nav-item")
  a(class='nav-link',href='#') 歌曲列表
//-li(class="nav-item")
  a(class='nav-link',href='#') 我的最愛
//-li(class="nav-item")
  a(class='nav-link',href='#') 播放紀錄
//-li(class="nav-item")
  a(class='nav-link',href='#') 播放清單
mixin navitem(hrf,txt)
  li.nav-item
  a.nav-link(href=hrf)= txt
    block

+navitem('profile', '個人檔案')
  if isvarified
  else
    span.badge.badge-warning.ml-1 !
+navitem('#playlist', '歌曲列表')
+navitem('#', '我的最愛')
+navitem('#', '播放紀錄')
+navitem('playlist', '播放清單')
+navitem('addsong', '新增歌曲')
+navitem('song', '歌曲(暫時)')
+navitem('searchresult', '搜尋結果(暫時)')