mixin l
	li.text-center.my-1(style="font-size:2.5vw")
		|それは
		+rby('折','お')
		|り
		+rby('重','かさ')
		|なる
		+rby('偶然','ぐうぜん')
		|　
		+rby('宇宙','うちゅう')
		+rby('規模','きぼ')
		|の
		+rby('奇跡','きせき')
	li.text-center(style="font-size:2.5vw")
		|那是重疊的偶然　宇宙規模的奇蹟
	hr
ul.list-unstyled
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l
	+l