.row.m-2
  a.btn.btn-primary.mx-1(href='#', role='button') 加入我的最愛
  a.btn.btn-primary.mx-1(href='#', role='button') 加入播放清單
  a.btn.btn-primary.mx-1(href='#', role='button') 輸出歌詞
  a.btn.btn-primary.mx-1(href='#', role='button') 回報歌詞錯誤
  a.btn.btn-primary.mx-1.disabled(href='#', role='button') 編輯歌曲
