.row.justify-content-center
	.col-12.col-sm-3.col-md-2
		img#userphoto.mr-3.d-block.mx-auto(data-src='holder.js/100x100?theme=thumb&bg=55595c&fg=eceeef&text=upload user photo', alt='上傳者頭貼')
	.col-8.offset-4.offset-sm-0.col-sm-9.col-md-10
		div
			|上傳者名稱
		div
			|於2018年1月1日 14:25
.my-3
	|「スカイクラッドの観測者」（スカイクラッドのかんそくしゃ）は、 いとうなこの11枚目のシングル。2009年10月28日に5pb.から発売された。「スカクラッドの観測者」（スカイクラッドのかんそくしゃ）は、 いとうかなこの1枚目のシングル。2009年10月28日に5pb.から発売された。「スカイクラッの観測者」（スカイクラッドのかんそくしゃ）は、 いとうかなこの11枚目のングル。2009年10月28日に5pb.から発売された。「スカイクラッドの観者」（スカイクラッドのかんそくしゃ）は、 いとうかなこの11枚目のシンル。2009年10月28日に5pb.から発売された。