mixin dragablemedia(title,description)
	li.mb-3.card.mx-3(draggable="true")
		.row
			.col-auto.col-sm-auto.center-block.pr-0
				img.img-responsive(data-src='holder.js/192x108?theme=thumb&bg=55595c&fg=eceeef&text=youtube thumbnail', alt='youtube thumbnail')
			table.col-auto.px-0
				tbody
					tr
						td
							button.btn.btn-outline-success.fa.fa-arrows-alt.my-2
					tr
						td
							button.btn.btn-outline-danger.fa.fa-minus.mt-3
			.col-12.col-sm.pl-0
				h4.mt-0(style="display:-webkit-box;-webkit-box-orient:vertica; -webkit-line-clamp:1; overflow:hidden; height:28.8px;")= title
mixin mediaresult
	+dragablemedia('スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者スカイクラッドの観測者','《命運石之門》（原名：Steins;Gate[註 1]）是5pb.所製作的一款視覺小說遊戲，於2009年10月15日發行。這部作品是繼《CHAOS;HEAD》之後，5pb.與Nitro+合作企劃的「妄想科學ADV系列」冒險遊戲（ADV）的第二作：假想科學ADV。《Steins;Gate》的「Steins」（命運石）一詞取自物理學家阿爾伯特·愛因斯坦（Einstein，アインシュタイン），故事中也涉及愛因斯坦創立的相對論的物理學要素。[3]本作在日本發售電腦遊戲前就已經有動畫化的消息。Windows版本於2010年8月26日發售。動畫於2011年4月5日開始首播，於首播第24話（2011年9月13日）完畢後，公布製作《劇場版 Steins;Gate》的消息。2015年3月宣布製作關於β世界線故事的新作，名為《Steins;Gate 0》，且於同期宣布動畫化[4]。發售日期為2015年12月10日。同年7月，為配合遊戲《Steins;Gate 0》，東京都會電視台重播《命運石之門》動畫，但第23話的內容卻與原版有相當大的分歧，同時原本預計播放第24話的時段將會改播特別節目，內容是《命運石之門0》的宣傳以及改編版23集的幕後花絮[5][6]。')
a(style='font-size: 2rem;',data-toggle='collapse',href='#list1', role='button', aria-expanded='false',aria-controls='歌曲列表1') 歌曲列表1
hr
#list1.collapse
	ul.list-unstyled(data-role="drag-drop-container")
		+mediaresult
		+mediaresult
		hr
a(style='font-size: 2rem;',data-toggle='collapse',href='#list2', role='button', aria-expanded='false',aria-controls='歌曲列表2') 歌曲列表2
hr
#list2.collapse
	ul.list-unstyled(style='overflow-y: auto;height: 800px;display: block;')
		//-(data-role="drag-drop-container")
		+mediaresult
		+mediaresult
		+mediaresult
		+mediaresult
		+mediaresult
		hr
a.alert-link(style='font-size: 2rem;',data-toggle='collapse',href='#list3', role='button', aria-expanded='false',aria-controls='歌曲列表1') 歌曲列表3
hr
#list3.collapse
	ul.list-unstyled
		+mediaresult
		+mediaresult
		+mediaresult
		hr
+page