div.container.mt-5.pt-2.pt-lg-3
    ul.list-unstyled
        li.media.mb-4.card
            .row
                .col-12.col-md-6.col-lg-4
                    img.mr-3.img-responsive.center-block.w-100(data-src='holder.js/1920x1080?theme=thumb&bg=55595c&fg=eceeef&text=youtube thumbnail&auto=yes', alt='youtube thumbnail')
                .col-12.col-md-6.col-lg-8
                    table.media-body
                        tbody
                            h4.mt-0.mb-1(style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;") 届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋
                            h6(style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;") 《白色相簿2》序章（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。《白色相簿2》序章（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。
                            h6
                                font(color="#aaaaaa") 觀看次數：100,000,000．收藏人數：1528．評價：4.2
        li.media.mb-4
            img.mr-3(data-src='holder.js/168x94?theme=thumb&bg=55595c&fg=eceeef&text=youtube thumbnail', alt='Generic placeholder image')
            .media-body
                h5.mt-0.mb-1 List-based media object
        li.media.mb-4
            img.mr-3(data-src='holder.js/168x94?theme=thumb&bg=55595c&fg=eceeef&text=youtube thumbnail', alt='Generic placeholder image')
            .media-body
                h5.mt-0.mb-1 List-based media object
    
    .row
        .col-md-4
    .card.mb-4
        img.card-img-top(data-holder-rendered='true', data-src='holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=youtube thumbnail', alt='Thumbnail [100%x225]', style='height: 225px; width: 100%; display: block;')
        .card-body
            p.card-text
                |2332112332112332112332112332112332112332112332112332112332112312312313213
            div.d-flex.justify-content-between.align-items-center
                .btn-group
                    button.btn.btn-sm.btn-outline-secondary(type='button') View
                    button.btn.btn-sm.btn-outline-secondary(type='button') Edit
                small.text-muted 9 mins
    img(data-src='holder.js/255x225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail')