div.container.mt-5.pt-2.pt-lg-3
    h2 最新歌曲
    hr
    ul.list-unstyled
        include indexmedia.jade
        +media('届かない恋届かない恋届かない恋届かない恋届かな恋届かない恋届かない恋届かない恋届かない恋届かない恋届かい恋届かない恋届かない恋届かない恋届かない恋届かない恋届ない恋届かない恋届かない恋届かない恋届かない恋届かない恋かない恋届かない恋','《白色相簿2》序章（IntroductoryChapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。《白色相2》序章（Introductory Chapter）和最終章（Coda）的片曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石真也作曲。')
        +media('届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋','《白色相簿2》序章（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。《白色相簿2》序章（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。')
    h2 熱門歌曲
    hr
    ul.list-unstyled
    include indexmedia.jade
    +media('届かない恋届かない恋届かない恋届かない恋届かな恋届かない届かない恋届かない恋届かない恋届かない恋届かい恋届かない恋届かない届かない恋届かない恋届かない恋届ない恋届かない恋届かない恋届かない届かない恋届かない恋かない恋届かない恋','《白色相簿2》序（IntroductoryChapter）和最終章（Coda）的片頭曲，原唱為上原奈，並有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗曲；現中，歌曲由須谷尚子作詞、石川真也作曲。《白色相2》序（Introductory Chapter）和最終章（Coda）的片曲，原唱為上原奈，並且有多個不同版本。在遊戲劇情中，為原春希作詞、冬馬和紗作曲；實中，歌曲由須谷尚子作詞、石真也作曲。')
    +media('届かない恋届かない恋届かない恋届かない恋届かない恋届かな恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届かい恋届かない恋届かない恋届かない恋届かない恋届かない恋届かない恋届ない恋届かない恋届かない恋届かない恋届かない恋','《白色相簿2》序（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲現實中，歌曲由須谷尚子作詞、石川真也作曲。《白色相簿2》序（Introductory Chapter）和最終章（Coda）的片頭曲，原唱為上原玲奈，並且有多個不同版本。在遊戲劇情中，為北原春希作詞、冬馬和紗作曲；現實中，歌曲由須谷尚子作詞、石川真也作曲。')