- var login = true
- var page = 'home'//-home,profile,playlist,songpage
- var isvarified = false
include mediaelement.jade
include pageelement.jade
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Jokeish App
    include headscripts.jade
  body
    include navbar\container.jade
    case page
      when 'home': include home\container.jade
      when 'profile': include profile\container.jade
      when 'playlist': include playlist\container.jade
      when 'songpage': include songpage\container.jade
    include bodyscripts.jade