- var login = true
- var page = 'profile'//-home,profile
- var isvarified = true
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Jokeish App
    include headscripts.jade
  body
    #app
      include navbar\container.jade
      case page
        when 'home': include home\container.jade
        when 'profile': include profile\container.jade
    include bodyscripts.jade