mixin page
  .btn-group.d-flex.justify-content-center.mb-4.mt-2.my-lg-(role='group', aria-label='page')
    button.btn.btn-outline-secondary(type='button') 
      i.fas.fa-chevron-left
    button.btn.btn-outline-secondary(type='button') 11
    button.btn.btn-outline-secondary(type='button') 22
    button.btn.btn-outline-secondary(type='button') 33
    button.btn.btn-outline-secondary(type='button') 44
    button.btn.btn-outline-secondary(type='button') 55
    button.btn.btn-outline-secondary(type='button') 
      i.fas.fa-chevron-right